.azeret-Mono{
     
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
      
}
.nav-title{
   font-size: 28px;
   font-weight: bolder;
   margin: 50px 900px 50px 150px;

}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.btn{
    border-radius: 8px;
    width: 250px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 14px;
    color: #0D1321;
    background: #ffff;
    margin-top: 33px;
    margin-right: 133px;
    margin-bottom: 33px;
}
.banner{

 background-image: url('../assets/Hero-bg.png');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;

}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
}
.title1{
    
    text-align: center;
}
.nf{
    font-weight: 800;
    font-size: 48px;
}
.snf{
    font-weight: 400;
    font-size: 16px;
    color: #0D1321;
}
.btn1{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 45px;
    background:#0D1321;
    font-size: 20px;
    font-weight: 600;
    color: white;
    
    
}