.azeret-Mono{
     
        font-family: "Azeret Mono", monospace;
        font-optical-sizing: auto;
        font-style: normal;
      
}
.nav-title{
   font-size: 28px;
   font-weight: bolder;
   margin: 50px 900px 50px 150px;

}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.btn{
    border-radius: 8px;
    width: 250px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    padding: 7px 14px;
    color: #0D1321;
    background: #ffff;
    margin-top: 33px;
    margin-right: 133px;
    margin-bottom: 33px;



}